<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/login.css">
	</head>
	<body>
		<div class="wrapper fadeInDown">
			<div id="formContent">
			    <!-- Login Form --> 
			    
			    <form method="POST">
			    	<div style="margin-top: 30px;" class="form-group">
					    <% if( locals.flash && locals.flash.errors && locals.flash.errors.email ) {%>   
					    <input style="height: calc(3.5rem + 2px);" type="text" id="login" class="fadeIn second form-control is-invalid" name="email" placeholder="<%= locals.lang.signupEmail %>">
				    	<div class="invalid-feedback">
					    	<%= locals.flash.errors.email %>
					    </div>
					    <% } else{ %>  
					   	<input style="height: calc(3.5rem + 2px);" type="text" id="login" class="fadeIn second form-control " name="email" placeholder="<%= locals.lang.signupEmail %>">
					    <% }%>    
					</div>
				    <div class="form-group">
				    	<% if( locals.flash && locals.flash.errors && locals.flash.errors.fullname ) {%>   
				    	<input style="height: calc(3.5rem + 2px);" type="text" id="fullname" class="fadeIn second form-control is-invalid" name="fullname" placeholder="<%= locals.lang.signupFullname %>">
				    	<div class="invalid-feedback">
					    	<%= locals.flash.errors.fullname %>
					    </div>
					    <% } else { %>  
					   <input style="height: calc(3.5rem + 2px);" type="text" id="fullname" class="fadeIn second form-control " name="fullname" placeholder="<%= locals.lang.signupFullname %>">
					    <% }%>    
					</div>
					<div class="form-group">
				    	<% if( locals.flash && locals.flash.errors && locals.flash.errors.password ) {%>   
					    <input style="height: calc(3.5rem + 2px);" type="text" id="password" class="fadeIn third form-control is-invalid" name="password" placeholder="<%= locals.lang.signupPassword %>">
				    	<div class="invalid-feedback">
					    	<%= locals.flash.errors.password %>
					    </div>
					    <% } else { %>  
					   	<input style="height: calc(3.5rem + 2px);" type="text" id="password" class="fadeIn third form-control " name="password" placeholder="<%= locals.lang.signupPassword %>">
					    <% }%>  
					</div>
				    <div class="form-group">
				    	<% if( locals.flash && locals.flash.errors && locals.flash.errors.confpassword ) {%>  
				    	<input style="height: calc(3.5rem + 2px);" type="text" id="confpassword" class="fadeIn third form-control is-invalid" name="confpassword" placeholder="<%= locals.lang.signupConfpassword %>"> 
				    	<div class="invalid-feedback">
					    	<%= locals.flash.errors.confpassword %>
					    </div>
					    <% }else { %>  
					   	<input style="height: calc(3.5rem + 2px);" type="text" id="confpassword" class="fadeIn third form-control" name="confpassword" placeholder="<%= locals.lang.signupConfpassword %>">
					    <% }%>  
					</div>
				    <input type="submit" class="fadeIn fourth" value="Log In">
			    </form>
			    <!-- Remind Passowrd -->
			    <div id="formFooter">
			      	<a class="underlineHover" href="/login?redirect=<%= redirect %>">login</a>
			    </div>
			</div>
		</div>
		<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
	</body>
</html>